/* .content .create {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}


.content .create label {
text-align: left;
display: block;
}

.content .create h2 {
font-size: 20px;
color: #f1356d;
margin-bottom: 30px;
}
.content .create input, .content .create textarea, .content .create .select {
width: 100%;
padding: 6px 10px;
margin: 10px 0;
border: 1px solid #ddd;
box-sizing: border-box;
display: block;
}

.content .create button {
background: #f1356d;
color: #fff;
border: 0;
padding: 8px;
border-radius: 8px;
cursor: pointer;
} */

.content .create{
    display: flex;
    /* max-width: 25%; */
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
    padding: 2.1rem;
    border-radius: .5rem;
    /* position: relative; */
}


.content .create .select{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    /* margin: 1rem; */
    flex-direction: column;
    /* width: 30%; */

}



/* .content .create .input{
    margin: 0.5rem;

} */


.content .create .car-form-content{
    display: flex;
    flex-direction: row;
}

.content .create .car-input-content{
    margin: 0.5rem;
    text-align: center;
}

.content .create .car-input-content-2 *{
    margin: 0.5rem;
    text-align: center;

}

/* .content .create .submit-car__btn{
    padding: 0.75rem 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #fff;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: .2rem;
    text-decoration: none;




} */

.content .create button{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding: 0.75rem 1.5rem;
    color: #fff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    border-radius: .2rem;
    font-size: 0.9rem;
    position: absolute;
    right: 46%;
    text-transform: uppercase;

}

.content .dropzone{
    
    position: absolute;
    /* transform: translateY(3rem); */
}