.registration-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}

/* .bad-password {
    text-align: center;
} */

.registration-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}